.minefield {
  white-space: nowrap;
  text-overflow: ellipsis;
  grid-gap: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.opencell {
  aspect-ratio: 1/1;
  text-align: center;
  background-color: #c0c0c0;
}

.closecell {
  aspect-ratio: 1/1;
  background-color: #a0a0a0;
}

.countmines {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.reset-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
